<div class="container mt-5">
    @if (!accountService.currentUser()) {
    <div style="text-align: center;">
        @if (registerMode == false) {
        <h1>Find your match</h1>
        <p class="lead">Come on in to view your matches... all you need to do is sign up!</p>
        <div class="center">
            <button class="btn btn-primary btn-lg me-2" (click)="registerToggle()">Register</button>
            <button class="btn btn-info btn-lg me-2">Learn more</button>
        </div>
        }
        @else {
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <app-register (cancelRegister)="registerToggle()"></app-register>
                </div>
            </div>
        </div>
        }
    </div>
    }
    @else {
        <div style="text-align: center;">
            <h1>Hello {{accountService.currentUser()?.knownAs}}</h1>
        </div>
    }
</div>